@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.card p {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 15px;
    color: hsl(230, 12%, 61%);
}

.card h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}